<!DOCTYPE html>
<html>
<head>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
</html>
<body>
        <nav>
            <ul>
                <li><a class="menufont" href="/"><i class="fas fa-home fa-2x" aria-hidden="true"></i></a></li>              
                <li class="dropdown">
                  <button class="dropbtn">Products</button>
                  <div class="dropdown-content">
                    <a class="menufont" href="/EconomicSeries">EconomicSeries</a>
                  </div>
                </li>
            </ul>
        </nav>
    <div class="page-content">
        {{ content }}
    </div><!-- page-content -->

</body>
